:root {
    --primary-colour: #007EA7;
    --secondary-colour: #00A8E8;
    --tertiary-colour: #003459;
    --black: black;
    --white: white;
    --primary-font: 'Acme', sans-serif;

    /* this is how you change colour of the arrows on carousel */
    --swiper-theme-color: white; 
}