/* label color */
.input-field label {
    color: var(--white-colour) !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: var(--tertiary-colour) !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--tertiary-colour) !important;
    box-shadow: 0 1px 0 0 var(--tertiary-colour) !important;
  }
  
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: var(--tertiary-colour) !important;
  }
  
#search-form {
    width: 500px;
}

#navigation {
    background-color: var(--primary-colour);
}

#search:focus {
    border-radius: 5px;
}

/* Side navbar */
#side-navbar {
  background-color: var(--tertiary-colour);
}

#side-navbar li a {
  color: var(--white);
}

#side-navbar li a:hover {
  background-color: var(--secondary-colour);
  cursor: pointer;
}

#side-navbar li .subheader {
  font-weight: bolder;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

#movie-genres {
  background-color: var(--tertiary-colour);
}

#movie-dates {
  background-color: var(--tertiary-colour);
}

@media screen and (max-width: 1070px) {
    #search-form {
        width: 400px;
    }
}

@media screen and (max-width: 980px) {
  #search-form {
      width: 300px;
  }
}

@media screen and (max-width: 880px) {
  #search-form {
      width: 250px;
  }
}

@media screen and (max-width: 829px) {
  #search-form {
      width: 200px;
  }
}

@media screen and (max-width: 780px) {
  #search-form {
      width: 150px;
  }
}