/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background:  var(--primary-colour);
}
/* test */
.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}


.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--tertiary-colour);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    
  width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
 
  
  
}

.swiper-slide {
    
  text-align: center;
  font-size: 18px;
  background: rgb(3, 2, 2);
  height: calc((100% - 100px) / 2) !important;

  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 400px;
}
.cardstyle{
    flex: auto;
    align-items: center;
    margin-bottom: 30px;
    
}
.cardtitle{
    
    font-size: xx-large;
    color: rgb(234, 234, 245);
    margin-bottom: 30px;
}
#canvas{display: none;}
.modalstyle{
  display: flex;
  flex-direction: row;
}
.cardrow{
  display: block;
  flex-direction: row ;
}