
body {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--tertiary-colour);
}

/* navigation bar */
#title {
    margin-left: 15px;
}

#search-results {
    display: grid;
    width: 95%;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 16px;
    justify-content: center;
}

.search-card {
    position: relative;
    width: 300px;
    margin: 10px;
    background: var(--primary-colour);
    border-radius: 20px;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}

.search-card:hover {
    transform: scale(1.05); 
}

#search-title {
    text-align: center;
    margin-top: 25px;
    font-size: 54px;
    color: var(--white);
}

/* CSS FOR MOVIE CAROUSEL AND SONG CAROUSEL ON HOME PAGE */
#movies-popular-now, #songs-most-popular {
    text-align: center;
    margin: 20px;
    margin-top: 60px;
    font-size: 2.5rem;
    color: var(--white);
}

.mySwiper {
    padding: 40px;
    background-color: var(--tertiary-colour);
}

.swiper-slide {
    background-color: var(--primary-colour);
    border-radius: 20px;
    position: relative;
}

.swiper-slide:hover {
    transition: 250ms all;
    transform: scale(1.05);
}

.movie-name, .album-name {
    color: var(--white);
    text-align: center;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 45px;
    margin-right: 45px;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.star, .star-song {
    position: absolute;
    height: 30px;
    right: 5px;
    top: 5px;
}

.poster {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 100%;
    min-height: 100%;
}

.rating-circle {
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    margin: 0;
    font-weight: bolder;
}

.mySwiper2 {
    padding: 40px;
    background-color: var(--tertiary-colour);
}



/* favourites page */
.favourites-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

#movie-btn, #music-btn {
    margin: 30px;
    padding: 15px 20px;
    background-color: #26a69a;
    color: white;
    letter-spacing: 0.5px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    font-family: var(--primary-font);
}

#movie-btn:hover, #music-btn:hover {
    cursor: pointer;
}

.favourites-cards-section {
    display: grid;
    width: 95%;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 16px;
    justify-content: center;
}

.fav-page-movie-card, .fav-page-album-card {
    margin: 20px;
    margin-bottom: 100px;
}

.hide {
    display: none;
}

#favourites-page-h4-text {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}





/* modal CSS */
#modal1 {
    border-radius: 10px;
    width: 60vw;
    height: auto;
    background-color: var(--primary-colour);
    color: var(--white);
}

.modal-content {
    display: flex;
    align-items: center;
}

.right-side {
    margin: 10px 30px;
}

.modal-movie-title, .modal-album-title {
    font-size: 2.3rem;
}

.modal-poster {
    display: block;
    height: 300px;
    border-radius: 10px;
}